<form [formGroup]="empService.spaceyForm" class="normal-form" >
    <mat-grid-list cols="2" rowHeight="300px">
        <!-- 1st column -->
        <mat-grid-tile>
            <div class="control-container">
                <input type="hidden" formControlName="$key">
                <mat-form-field>
                    <input formControlName="fullName" matInput placeholder="Full Name*">
                    <mat-error>This field is mandatory</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email">
                    <mat-error>Invalid email address</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="mobile" matInput placeholder="Mobile*">
                    <mat-error *ngIf="empService.spaceyForm.controls['mobile'].errors?.required">This field is required!</mat-error>
                    <mat-error *ngIf="empService.spaceyForm.controls['mobile'].errors?.maxlength">Character must be at least 10</mat-error>
                    <!-- <mat-error *ngIf="empService.spaceyForm.controls['mobile'].errors?.pattern">Invallid characters</mat-error> -->
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="city" matInput placeholder="City">
                </mat-form-field>
            </div>
        </mat-grid-tile>

        <!-- 2nd column -->
        <div class="adjustment">
            <mat-grid-tile>
                <div class="control-container">
                    <div class="add-padding">
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button value="1" >Male</mat-radio-button>
                            <mat-radio-button value="2" >Female</mat-radio-button>
                            <mat-radio-button value="3" >Other</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <mat-form-field >
                        <mat-select formControlName="department" placeholder="Department">
                            <mat-option>None</mat-option>
                            <ng-container *ngFor="let department of departments">
                                <mat-option value="{{department.id}}" > {{department.value}} </mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <input formControlName="hireDate" matInput [matDatepicker]="picker" placeholder="Hire Date" > 
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <div class="add-padding">
                        <mat-checkbox formControlName="isPermanent">Permanent Employee</mat-checkbox>
                    </div>
                    <div class="button">
                        <button mat-raised-button color="primary" [disabled]="!empService.spaceyForm.valid" type="submit">Submit</button>
                        <button mat-raised-button color="accent" (click)="onClear()" >Clear</button>
                    </div>
                </div>
            </mat-grid-tile>
            
        </div>
    </mat-grid-list>
</form>